*{
    margin: 0;
     padding: 0;
}
body{
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.container{
    transform-style: preserve-3d; 
}
.heart{
    position: relative;
    width: 100px;
    height: 90px;
    background: rgb(222, 0, 0);
    transform: rotate(-45deg);
    animation: beat 1s infinite ease-in-out;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
}
.heart::before,
.heart::after{
    content:  '';
    position: absolute;
    width: 100px;
    height: 90px;
    background: rgb(222, 0, 0);
    border-radius: 50%;
}
.heart::before{
    top: -50px;
    left: 0;
}
.heart::after{
    left: 50px;
    top: 0;
}
@keyframes beat {
    0%, 100%{
        transform: rotate(-45deg) scale(1);
    }
    50%{
        transform: rotate(-45deg) scale(1.2);
    }
}